<!DOCTYPE html>
<html lang="en"><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin' rel='stylesheet' type='text/css'>
  <?=css_bundle("core")?>
  <title>CryoMassage</title>
</head>
<body>
  <?=partial("_header")?>
  <div class="site-width main-content <?=$action?>">
    <?=$content_for_layout?>
  </div>
  <?=partial("_footer")?>
<script src="http://www.google.com/jsapi"></script>
<script>google.load("jquery", "1");</script>
<?=js_bundle("core")?>
</body>
</html>