<!DOCTYPE html>
<html lang="en"><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/core/_resets.css' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/core/styles.css' rel='stylesheet' type='text/css'>
  <title>CryoMassage</title>
</head>
<body>
  <?=partial("_header", $this)?>
  <div class="site-width main-content <?=$action?>">
    <?if($cms_section && ($root_section = $cms_section->path_from_root[0])){
      $pages = new CmsContent("published");
      $pages->filter("cms_section_id", $root_section->id);
      if($default_page = $root_section->default_page) $pages->filter("cms_section_id", $default_page->id);
      $pages = $pages->all();
      $selected_nodes = array();
      foreach ($cms_section->path_from_root as $node) $selected_nodes[] = $node->id;
    }else $pages = array();?>
    <div id="side_nav">
      <?=$side_nav = partial("_side_nav", array("nodes"=>$cms_section->path_from_root[0]->children,"pages"=>$pages,"cms_content"=>$cms_content,"selected_nodes"=>$selected_nodes))?>
    </div>
    <div id="content_holder" <?=$side_nav?'class="content_holder_with_nav"':''?>>
      <?=$content_for_layout?>
    </div>
  </div>
  <?=partial("_footer")?>
<script src="http://www.google.com/jsapi"></script>
<script>google.load("jquery", "1");</script>
<?=js_bundle("core")?>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19820652-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>