<!DOCTYPE html>
<html lang="en"><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/core/_resets.css' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/core/styles.css' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/holding.css' rel='stylesheet' type='text/css'>
  <meta name="google-site-verification" content="_1nAm4pS2QAyfpR_EVOH7AkTdPRxNen4w2BWZFCi6Cc" />
  <title>CryoMassage</title>
</head>
<body>
  <div class="holding site-width">
    <h1>CryoMassage</h1>
    <h2>
      Health &amp; Wellbeing<br>
      Mobile Practice<br>
      Call: 0844 272 0502
    </h2>
    <h3>More Coming Soon</h3>
  </div>
</body>
</html>