html{
  background:#5b0500 url(/images/shadow-slice.gif) top center repeat-y;
}
body{
  color:#fff;
  font-family:'Droid Sans',arial,sans-serif;
  text-align:left;
}
a{
  color:#ff8673;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
  color:#ffb7ac;
}
strong{
  font-weight:bold;
}
.site-width{
  background:#750600;  
  width:900px;
  padding-left:20px;
  padding-right:20px;
  margin:0 auto;
}

#header, #top-nav{
  padding-top:10px;
  padding-bottom:10px;
}
#header h1, #header h2{
  float:left;
  font-size:220%;
}
#header h3{
  float:left;
  clear:left;
  font-size:116%;
}
#top-nav a{
  font-size:182%;
  float:left;
  padding:5px 20px;
  margin-bottom:20px;
  color:#fff;
}
#top-nav a.selected{
  color:#ffb7ac;
}
#top-nav a:hover{
  color:#ffb7ac;
}
#top-nav a.first{
  padding-left:0;
}
#top-nav a.last{
  padding-right:0;
}
#languages{
  float:right;
}
#languages li{
  display:inline;
}
#languages li a{
  padding:5px;
}

.homepage-col{
  float:left;
  width:265px;
  padding:0 17px 20px;
  border-right:1px solid #ffb7ac;
}
.homepage-col.last{
  border-right:none;
}
.homepage-col h2{
  text-align:center;
  font-size:182%;
  margin-bottom:10px;
}

.main-content h1{
  font-size:182%;
  margin-bottom:20px;
}
.main-content h2{
  font-size:153.9%;
}
.main-content h3{
  font-size:138.5%;
}
.main-content h4{
  font-size:123.1%;
}
.main-content p{
  margin:10px 0;
  font-size:108%;
}
.main-content li{
  list-style:disc outside none;
  margin:0 0 10px 20px;
}
.main-content li a{
  font-size:150%;
}

.index p{
  margin:10px 20px 30px;
  font-size:116%;
}

label{
  float:left;
  clear:left;
  width:150px;
  margin:10px 0 10px 200px;
}
input.text_field, select, textarea{
  float:left;
  width:300px;
  margin:10px 0;
}
input.submit_field{
  float:left;
  clear:left;
  margin:10px 0 10px 350px;
}
form span.error_message{
  clear:left;
  color:#7777FF;
  float:left;
  margin-left:350px;
}
.dontfillthisin{
  display:none;
}
.homepage-col img{
  border:1px solid #750600;
}
.homepage-col img:hover{
  border:1px solid #ffb7ac;
}
.cnhclogo{
  float:right;
  margin:10px 20px;
}